version: '3.8'

services:
  article-app:
    build: ./
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - DB_PASSWORD=postgres
    
  db:
    restart: always
    image: postgres:latest
    volumes:
      - ./.database/postgres/data:/var/lib/postgresql/data
    ports:
      - 5436:5432
    environment:
      - POSTGRES_PASSWORD=postgres
  